*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background: #F8F8FA;
}
.nav-right{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    background: #2DBB00;
    padding: 5px 5%;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
    display: inline-block;
}
.nav-right ul li img{
    width: 23px;
    color: white;
    margin: 0 5px;
}
.nav-left-icon{
    display: flex;
    align-items: center;
    color: white;
}
.nav-left-icon img{
    display: flex;
    width: 25px;
    border-radius: 70%;
    cursor: pointer;
    padding: 10px 5%;
}
.paying{
    display: flex;
    height: 65px;
    background-color: #2DBB00;
    justify-content: space-between;
    border-radius: 0 0 80% 80%/0 0 100% 100%;
    padding: 13px 5%;
    transform: scale(1);
}
.paying-box{
    background: #FDFCFC;
    flex-basis: 100%;
    position: sticky;
    top: 50px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    align-self: flex-start;
    height: 60px;
    justify-content: space-around;
}
.paying{
    display: flex;
    
}
.paying-box img{
    display: flex;
    width: 17px;
    height: 17px;
    /* border-radius: 50%; */
    cursor: pointer;
    
}
.paying-box p{
    font-size: 8px;
}
.clom-1{
    display: flex;
    margin-right: 30px;
}
.colm-2{
    display: flex;
    margin-left: 20px;
}
.colm-3{
    display: flex;
    margin-left: 60px;
}
.colm-4{
    height: 32px;
    margin-top: 32px;
    margin-left: -310px;
    margin-right: 0px;
}
.colm-5{
    margin-top: 32px;
}
.colm-6{
    margin-top: 32px;
}
.colm-7{
    margin-top: 34px;
}
hr{
    height: 10px;
    margin-top: 40px;
}

